.App{
  width: 100vw;
  height: 100vh;
  display: flex;
}
.flag{
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -20%;
  top: -20%;
}
.wanga{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  height: 70%;
  opacity: 90
}
.btn{
  height: 50px;
  width: 400px;
  color: white;
  background: red;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 30px;
  transition: opacity 0.2s ease-in;
}

.btn:hover{
  opacity: 1;
  cursor: pointer;
}